{% extends 'base.html.twig' %}

{% block title %}Editar usuário{% endblock %}

{% block body %}
    <h1>Editar usuário</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_user_index') }}" class="btn btn-secondary float-start ms-3 mt-3 text-white">Voltar</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
