{% extends 'base.html.twig' %}

{% block title %}Novo Post{% endblock %}

{% block body %}
    <h1>Criar novo Post</h1>

    {{ include('admin/campaign_step/step5_form.html.twig') }}

    <a href="{{ path('app_admin_campaign_step5',{'campaignId':campaign.id}) }}" class="btn btn-secondary float-start ms-3 mt-3 text-white">Voltar</a>

{% endblock %}
